Repository gonenduk/basejs: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

.lintstagedrc:

{
  "*.js": [
    "node_modules/.bin/eslint"
  ],
  "routes/*.{json,yaml}": [
    "node_modules/.bin/swagger-cli validate"
  ]
}

openapi description to summary in paths
  package.json
  routes/api.yaml
Due: node_modules/.bin/swagger-cli validate

rename resource-private to resource
  acl/index.js
  acl/resources/private.js
  acl/users.js
Due: node_modules/.bin/eslint

better acl
  acl/products.js
  acl/profiles.js
  acl/resources/private.js
  acl/resources/public.js
  acl/users.js
  acl/validations/index.js
  acl/validations/private.js
  acl/validations/public.js
  acl/validations/validate.js
  test/acl/private-resources.spec.js
  test/acl/public-resources.spec.js
  test/acl/resources.spec.js
Due: node_modules/.bin/eslint

acl using routes
  acl/index.js
  acl/products.js
  acl/profiles.js
  acl/users.js
  acl/validations/private.js
  acl/validations/public.js
  routes/api.js
  test/acl/private-resources.spec.js
  test/acl/profiles.spec.js
  test/acl/public-resources.spec.js
  test/acl/resources.spec.js
  test/acl/users.spec.js
Due: node_modules/.bin/eslint

unit tests for acl private and public routes
  package.json
  test/acl/private-resources.spec.js
  test/acl/public-resources.spec.js
Due: node_modules/.bin/eslint

unit tests for acl profiles routes
  test/acl/profiles.spec.js
Due: node_modules/.bin/eslint

unit tests for acl resources routes
  test/acl/resources.spec.js
Due: node_modules/.bin/eslint

unit tests for acl users routes
  test/acl/profiles.spec.js
  test/acl/users.spec.js
Due: node_modules/.bin/eslint

auth hanlders using routes
  handlers/auth.js
  handlers/index.js
  routes/api.js
  routes/build.js
  test/handlers/auth.spec.js
Due: node_modules/.bin/eslint

better tests for routes
  test/acl/profiles.spec.js
  test/acl/users.spec.js
Due: node_modules/.bin/eslint

auth hanlders unit tests
  test/acl/private-resources.spec.js
  test/acl/profiles.spec.js
  test/acl/public-resources.spec.js
  test/acl/resources.spec.js
  test/acl/users.spec.js
  test/handlers/auth.spec.js
Due: node_modules/.bin/eslint

disable warnings about unused next in error routes
  routes/error.js
  test/acl/private-resources.spec.js
  test/acl/profiles.spec.js
  test/acl/public-resources.spec.js
  test/acl/resources.spec.js
  test/acl/users.spec.js
  test/handlers/auth.spec.js
Due: node_modules/.bin/eslint

better errors in unit tests
  routes/api.js
  routes/error.js
  test/acl/private-resources.spec.js
  test/acl/profiles.spec.js
  test/acl/public-resources.spec.js
  test/acl/resources.spec.js
  test/acl/users.spec.js
  test/handlers/auth.spec.js
Due: node_modules/.bin/eslint

full coverage unit tests for public and private resources acl
  test/acl/private-resources.spec.js
  test/acl/public-resources.spec.js
  test/acl/resources.spec.js
Due: node_modules/.bin/eslint

error router unit tests
  test/routes/error.spec.js
Due: node_modules/.bin/eslint

add health route
  routes/web.js
Due: node_modules/.bin/eslint

add web pages unit tests
  routes/web.js
  test/routes/web.spec.js
Due: node_modules/.bin/eslint

use stub in web page unit tests
  test/routes/web.spec.js
Due: node_modules/.bin/eslint

async thong
  lib/cluster.js
  package.json
  server.js
Due: node_modules/.bin/eslint

express-openapi-validator
  package.json
Due: none

new config
  package.json
Due: none

replace request with superagent
  lib/social.js
  package.json
Due: node_modules/.bin/eslint

supertest 5
  package.json
Due: none

express-openapi-validator 4
  package.json
  routes/api.js
Due: node_modules/.bin/eslint

new lib versions
  package.json
Due: none

new versions
  package.json
Due: none

openapi validator new version
  package.json
Due: none

version bump
  package.json
Due: none

openapi libs
  package.json
Due: none

new mocha
  package.json
Due: none

new openapi libs
  package.json
Due: none

ioredis 4.19
  package.json
Due: none

eslint update
  package.json
Due: none

express-openapi-validator 4.3.6 with bug fix
  package.json
Due: none

new sinon
  package.json
Due: none

supertest 6
  package.json
Due: none

lini-staged new version
  package.json
Due: none

ioredis new version
  package.json
Due: none

express-openapi-validator udpate
  package.json
Due: none

mongodb, airbnb eslint and openapi updates
  package.json
Due: none
