Repository gonenduk/basejs: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

new versions of packages
  package.json
Due: none

express-openapi-validator
  app.js
  config/default.json
  handlers/profiles.js
  handlers/routers/collection-handler.js
  handlers/routers/item-handler.js
  handlers/routers/item-owner-handler.js
  handlers/users.js
  package.json
  routes/api.js
  routes/api.json
  routes/api.yaml
  views/index.pug
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

fix swagger script in package.json
  package.json
Due: none

new boom version
  package.json
Due: none

new version of packages
  package.json
Due: none

db tool with new db lib model
  package.json
  tools/db.js
Due: node_modules/.bin/eslint

connect to redis is configured
  config/default.json
  lib/init.js
  lib/options.js
Due: node_modules/.bin/eslint

new version of express-swagger-validator
  package.json
Due: none

remove protocol and host from url of swagger doc when using swagger ui
  routes/api.js
Due: node_modules/.bin/eslint

unite creation of jwt into one function
  handlers/auth.js
Due: node_modules/.bin/eslint

create rid before swagger validations
  routes/api.js
Due: node_modules/.bin/eslint

remove me from user id
  handlers/users.js
  package.json
Due: node_modules/.bin/eslint

support for text body type in api calls
  app.js
Due: node_modules/.bin/eslint

new version express-openapi-validator
  package.json
Due: none

support for security in openapi in validator lib
  README.md
  package.json
Due: none

express-openapi-validator fix for error messages
  package.json
Due: none

new version of mongodb
  package.json
Due: none

read-only support in express-openapi-validator
  package.json
Due: none

express-openapi-validator write only validation
  package.json
Due: none

express-openapi-validator enums in errors
  package.json
Due: none

buy me a coffee link
  README.md
Due: none

fix crash on refresh token when user never logged out
  handlers/auth.js
Due: node_modules/.bin/eslint

better use of accesscontrol for ide support
  lib/acl.js
Due: node_modules/.bin/eslint

disable webstorm inspection for error handler unused next parameter
  routes/error.js
Due: node_modules/.bin/eslint

express-openapi-validator fix for 404 and 405
  package.json
Due: none

rename routers dir in handlers to generic
  handlers/auth.js
  handlers/generic/collection-acl.js
  handlers/generic/collection-handler.js
  handlers/generic/item-acl.js
  handlers/generic/item-handler.js
  handlers/generic/item-owner-acl.js
  handlers/generic/item-owner-handler.js
  handlers/generic/safe.js
  handlers/products.js
  handlers/profiles.js
  handlers/users.js
Due: node_modules/.bin/eslint

move acl definitions out of routes
  acl/index.js
  routes/api.js
  routes/common.js
Due: node_modules/.bin/eslint

seperate acl in profiles
  acl/generic/collection.js
  acl/generic/item-owner.js
  acl/generic/item.js
  acl/profiles.js
  handlers/profiles.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

seperate acl in users
  acl/profiles.js
  acl/users.js
  handlers/users.js
Due: node_modules/.bin/eslint

update readme with new seperation of handlers and acl
  README.md
Due: none

seperate acl in products
  acl/products.js
  handlers/generic/collection-acl.js
  handlers/generic/collection.js
  handlers/generic/item-acl.js
  handlers/generic/item-owner-acl.js
  handlers/generic/item-owner.js
  handlers/generic/item.js
  handlers/products.js
  handlers/profiles.js
  handlers/users.js
Due: node_modules/.bin/eslint

fix owner id when creating new resources
  acl/generic/collection.js
  acl/generic/item-owner.js
  acl/generic/item.js
  handlers/generic/collection.js
Due: node_modules/.bin/eslint

express-async-errors
  app.js
  handlers/auth.js
  handlers/generic/collection.js
  handlers/generic/item-owner.js
  handlers/generic/item.js
  handlers/generic/safe.js
  handlers/users.js
  package.json
Due: node_modules/.bin/eslint

move error handler to handlers instead of routes
  app.js
  handlers/error.js
Due: node_modules/.bin/eslint

updated error on web page 403 error
  routes/web.js
Due: node_modules/.bin/eslint

dynamic routes for acl handlers
  README.md
  acl/generic/item-owner.js
  acl/generic/item.js
  acl/index.js
  acl/products.js
  acl/profiles.js
  acl/resource/collection.js
  acl/resource/index.js
  acl/resource/item-owner.js
  acl/resource/item.js
  acl/users.js
  routes/api.js
  routes/build.js
Due: node_modules/.bin/eslint

move error handler back to routes
  app.js
  routes/error.js
Due: node_modules/.bin/eslint

fix parsing of id in acl handlers
  acl/profiles.js
  acl/resource/index.js
  acl/users.js
Due: node_modules/.bin/eslint

users acl unit tests
  acl/profiles.js
  acl/users.js
  package.json
  test/acl/users.spec.js
  test/mocha.opts
  test/test.js
Due: node_modules/.bin/eslint

public resources acl first unit tests
  test/acl/resources.spec.js
Due: node_modules/.bin/eslint

Path conditions:
  node_modules/.bin/eslint: any of: *.js
  node_modules/.bin/swagger-cli validate: any of: routes/*.{json,yaml}
