Repository gonenduk/basejs: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

.lintstagedrc:

{
  "*.js": [
    "node_modules/.bin/eslint"
  ],
  "routes/*.{json,yaml}": [
    "node_modules/.bin/swagger-cli validate"
  ]
}

user acl tests
  acl/base-validation.js
  acl/private-resource.js
  acl/public-resource.js
  test/acl/private-resources.spec.js
  test/acl/public-resource.spec.js
  test/acl/users.spec.js
Due: node_modules/.bin/eslint

use classes in acl
  acl/products.js
  acl/profiles.js
  acl/users.js
  test/acl/products.spec.js
Due: node_modules/.bin/eslint

restore use of filter in base model
  handlers/auth.js
  handlers/base-handler.js
  models/base-model.js
  models/profile.js
  models/user.js
Due: node_modules/.bin/eslint

nicer safe parsing of json in base handler
  handlers/base-handler.js
Due: node_modules/.bin/eslint

nicer safe parsing of json in base handler #2
  handlers/base-handler.js
Due: node_modules/.bin/eslint

description text for tags in openapi
  routes/api.yaml
Due: node_modules/.bin/swagger-cli validate

new tickets interface and db
  models/schemas/tickets.js
  routes/api.yaml
  tools/db.js
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

tickets implementation
  acl/tickets.js
  handlers/tickets.js
  models/ticket.js
  test/acl/tickets.spec.js
Due: node_modules/.bin/eslint

create user2 in db tools
  tools/db.js
Due: node_modules/.bin/eslint

products and tickets in tools db to user and user2
  tools/db.js
Due: node_modules/.bin/eslint

jwt missing role error
  routes/common.js
Due: node_modules/.bin/eslint

better description in auth section in openapi
  routes/api.yaml
Due: node_modules/.bin/swagger-cli validate

remove options to know which user created a user
  routes/api.yaml
Due: node_modules/.bin/swagger-cli validate

rename login, logout to sign in, sign out
  handlers/auth.js
  models/user.js
  routes/api.yaml
  test/handlers/auth.spec.js
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

rename logoutAt in db schema to signedOutAt
  handlers/auth.js
  models/schemas/users.js
  models/user.js
  routes/api.yaml
  test/handlers/auth.spec.js
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

support for me instead of user id
  handlers/base-handler.js
Due: node_modules/.bin/eslint

require email instead of username in users
  models/schemas/users.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

oauth providers support
  README.md
  handlers/auth.js
  lib/oauth.js
  models/schemas/users.js
  routes/api.yaml
  test/handlers/auth.spec.js
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

define indexes of oauth
  models/schemas/users.js
Due: node_modules/.bin/eslint

oauth search user by provider id
  handlers/auth.js
Due: node_modules/.bin/eslint

allow login with email or username
  handlers/auth.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

disconnect oauth provider interface
  routes/api.yaml
Due: node_modules/.bin/swagger-cli validate

disconnect from oauth provider
  handlers/auth.js
  models/base-model.js
  models/user.js
Due: node_modules/.bin/eslint

support for unsetting properties in update of model
  models/base-model.js
  models/user.js
Due: node_modules/.bin/eslint

connect and disconnect oauth provider to current user
  handlers/auth.js
  models/base-model.js
  models/user.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

oauth providers in array
  handlers/auth.js
  models/base-model.js
  models/schemas/users.js
  models/user.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

display duplicate key error as conflict 409 error
  models/base-model.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

dynamic oauth providers in config
  config/default.json
  handlers/auth.js
  lib/oauth.js
Due: node_modules/.bin/eslint

openapi validator 5
  package.json
Due: none

sinon 15
  package.json
Due: none

jsonwebtoken 9
  package.json
Due: none

commander 10
  package.json
Due: none

mongodb 5
  package.json
Due: none

commander 11
  package.json
Due: none

error messafe when failing to start
  server.js
  worker.js
Due: node_modules/.bin/eslint

express-openapi-validator 5
  package.json
Due: none

swagger-ui 5
  package.json
Due: none

bump version lint-staged, sinon
  package.json
Due: none

mongodb v6
  lib/mongodb.js
  package.json
Due: node_modules/.bin/eslint

fix hostname in logger-http
  lib/logger-http.js
Due: node_modules/.bin/eslint
