Repository gonenduk/basejs: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

.lintstagedrc:

{
  "*.js": [
    "node_modules/.bin/eslint"
  ],
  "routes/*.{json,yaml}": [
    "node_modules/.bin/swagger-cli validate"
  ]
}

update openapi validator
  package.json
Due: none

remove mongo db strict mode
  models/plugins/mongo-model.js
  tools/db.js
Due: node_modules/.bin/eslint

update test and commit libs
  package.json
Due: none

update lint-staged
  package.json
Due: none

update husky
  .husky/pre-commit
  .huskyrc
  package.json
Due: none

init asycn services before app
  lib/init.js
Due: node_modules/.bin/eslint

swaggerUI v4
  package.json
Due: none

eslint v8
  models/plugins/password.js
  models/plugins/timestamps.js
  package.json
Due: node_modules/.bin/eslint

sinon v12
  package.json
Due: none

mochawesome v7
  package.json
Due: none

lint-staged v12
  package.json
Due: none

universal-analytics v 0.5.1
  package.json
Due: none

superagent 7.0.1
  package.json
Due: none

default local swagger ui file
  package.json
  routes/api.js
Due: node_modules/.bin/eslint

sinon 13
  package.json
Due: none

commander verison 9
  package.json
Due: none

use swagger-ui-express
  package.json
  routes/api.js
Due: node_modules/.bin/eslint

move swagger-ui and docs outside of api to web
  routes/api.js
  routes/web.js
  views/index.pug
Due: node_modules/.bin/eslint

viewport support for mobile
  views/layout.pug
Due: none

eslint parsing latest ecmascript
  .eslintrc
Due: none

auth handlers not as routes
  handlers/auth.js
  handlers/index.js
  routes/api.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

profiles handler not as routes
  acl/index.js
  handlers/base-handler.js
  handlers/profiles.js
  handlersRouters/profiles.js
  routes/api.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

products handler not as routes
  handlers/base-handler.js
  handlers/products.js
  handlersRouters/generic/item-owner.js
  handlersRouters/products.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

update file structure in readme
  README.md
Due: none

user handler not as routes
  handlers/users.js
  handlersRouters/generic/collection.js
  handlersRouters/generic/item.js
  handlersRouters/index.js
  handlersRouters/users.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

profiles acl not as routes
  acl/base-validation.js
  acl/profiles.js
  routes/api.js
Due: node_modules/.bin/eslint

products acl not as routes
  acl/private-resource.js
  acl/products.js
  acl/public-resource.js
  acl/users.js
  acl/validations/index.js
  acl/validations/private.js
  acl/validations/public.js
  acl/validations/validate.js
Due: node_modules/.bin/eslint

users acl not as routes
  acl/users.js
Due: node_modules/.bin/eslint

updated tests
  routes/api.js
  test/acl/private-resources.spec.js
  test/acl/profiles.spec.js
  test/acl/public-resources.spec.js
  test/acl/users.spec.js
  test/handlers/auth.spec.js
Due: node_modules/.bin/eslint

error of api always a json
  routes/api.js
  routes/error.js
Due: node_modules/.bin/eslint

minimum node verison 16
  .npmrc
  package.json
Due: none

remove promise lib config from mongodb setup
  lib/mongodb.js
  server.js
Due: node_modules/.bin/eslint

more simple db connect logic
  lib/mongodb.js
  lib/redis.js
Due: node_modules/.bin/eslint

support multiple connections on mongodb
  lib/mongodb.js
  lib/redis.js
Due: node_modules/.bin/eslint

connect to redis on dev
  config/development.json
Due: none

mongodb version 4.4
  lib/mongodb.js
  lib/redis.js
  models/plugins/mongo-model.js
  package.json
  test/lib/mongodb.spec.js
  tools/db.js
Due: node_modules/.bin/eslint

use ipv4 for mongodb connection uri
  config/default.json
Due: none

replace deprecated req.connection with req.socket
  routes/api.js
  routes/web.js
Due: node_modules/.bin/eslint

request-ip
  package.json
  routes/api.js
  routes/common.js
  routes/web.js
Due: node_modules/.bin/eslint

one line
  routes/api.js
Due: node_modules/.bin/eslint
