Repository gonenduk/basejs: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

.lintstagedrc:

{
  "*.js": [
    "node_modules/.bin/eslint"
  ],
  "routes/*.{json,yaml}": [
    "node_modules/.bin/swagger-cli validate"
  ]
}

remove duplicated comment
  routes/web.js
Due: node_modules/.bin/eslint

products acl unit tests
  test/acl/products.spec.js
Due: node_modules/.bin/eslint

ioredis version 5
  package.json
Due: none

express-jwt 7
  package.json
  routes/common.js
Due: node_modules/.bin/eslint

bump versions
  package.json
Due: none

sinon 18
  package.json
Due: none

husky 8
  package.json
Due: none

lint-staged 13
  package.json
Due: none

superagent v 8
  package.json
Due: none

request-ip v 3
  package.json
Due: none

uuid 9
  package.json
Due: none

time stamp schema in api yaml
  routes/api.yaml
Due: node_modules/.bin/swagger-cli validate

mongodb id schema in api yaml
  routes/api.yaml
Due: node_modules/.bin/swagger-cli validate

log stack only on internal server error
  routes/error.js
Due: node_modules/.bin/eslint

fix typo in db tools
  tools/db.js
Due: node_modules/.bin/eslint

updated readme
  README.md
Due: none

license status badge
  README.md
Due: none

base and profile models
  handlers/profiles.js
  models/base-model.js
  models/profile.js
Due: node_modules/.bin/eslint

static toObjectId in base-model
  models/base-model.js
Due: node_modules/.bin/eslint

product model to use base-model
  models/base-model.js
  models/product.js
Due: node_modules/.bin/eslint

product model to use base-model fix
  models/base-model.js
Due: node_modules/.bin/eslint

product model to use base-model fix 2
  handlers/base-handler.js
  models/base-model.js
Due: node_modules/.bin/eslint

user model to use base-model
  models/base-model.js
  models/plugins/mongo-model.js
  models/plugins/ownership.js
  models/plugins/password.js
  models/plugins/timestamps.js
  models/user.js
Due: node_modules/.bin/eslint

set new user role to user in model
  handlers/users.js
  models/user.js
Due: node_modules/.bin/eslint

async bcrypt
  models/user.js
Due: node_modules/.bin/eslint

do not add ownerId to new users
  handlers/base-handler.js
Due: node_modules/.bin/eslint

better handler/model seperation
  handlers/auth.js
  handlers/base-handler.js
  models/base-model.js
  models/profile.js
  models/user.js
Due: node_modules/.bin/eslint

hide password when getting user
  handlers/users.js
  models/user.js
Due: node_modules/.bin/eslint

fix tests
  test/handlers/auth.spec.js
Due: node_modules/.bin/eslint

db tool to create sample products
  tools/db.js
Due: node_modules/.bin/eslint

rename auth/token routes
  handlers/auth.js
  routes/api.yaml
Due: node_modules/.bin/eslint, node_modules/.bin/swagger-cli validate

restore acl purblic resource test
  test/acl/public-resource.spec.js
Due: node_modules/.bin/eslint

products acl test made simple
  test/acl/products.spec.js
Due: node_modules/.bin/eslint

OwnerID schemas in openAPI yaml
  routes/api.yaml
Due: node_modules/.bin/swagger-cli validate

make acl private resource from public one
  acl/private-resource.js
  test/acl/private-resources.spec.js
Due: node_modules/.bin/eslint

new ownership validation in acl
  acl/base-validation.js
  acl/private-resource.js
  acl/products.js
  acl/profiles.js
  acl/public-resource.js
  acl/users.js
  test/acl/products.spec.js
Due: node_modules/.bin/eslint

public and private resource tests
  acl/base-validation.js
  test/acl/private-resources.spec.js
  test/acl/public-resource.spec.js
  test/acl/validation.spec.js
Due: node_modules/.bin/eslint

public and private resource tests #2
  test/acl/base-validation.spec.js
Due: node_modules/.bin/eslint

profiles acl tests
  test/acl/profiles.spec.js
Due: node_modules/.bin/eslint

products acl tests
  test/acl/products.spec.js
Due: node_modules/.bin/eslint
